################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Shoping/Shoping.sln
/Shoping/.vs/Shoping/v17/.suo
/Shoping/.vs/Shoping/FileContentIndex/5058db57-f06c-4895-bef1-a7fbe278270b.vsidx
/Shoping/.vs/Shoping/FileContentIndex/56d34aef-8eca-4f77-9838-a922ca1fa180.vsidx
/Shoping/.vs/Shoping/FileContentIndex/785cdddc-a4e3-4419-ab93-b2684aae9be7.vsidx
/Shoping/.vs/Shoping/FileContentIndex/b7e729c1-6a9c-49fc-a782-019a676b3a20.vsidx
/Shoping/.vs/Shoping/FileContentIndex/b920a453-d2d9-468d-b6b2-f924b1ffefb8.vsidx
/Shoping/.vs/Shoping/FileContentIndex
/Shoping/.vs/Shoping/DesignTimeBuild/.dtbcache.v2
